.frame1{
    background-color: rgb(231, 196, 149);
}
.frame2{
    background-color: rgb(171, 97, 61);
}
.welcome
{
    margin-top: 200;
}
.frame4
{
    height: 900;
    width: 500;
}
.frame5
{
    height: 900;
    width: 600;
}
